In [ ]:
#7.1 Handling Missing Data

In [4]:
import pandas as pd
import numpy as np

In [5]:
float_data = pd.Series([1.2, -3.5, np.nan, 0])

In [6]:
float_data

0    1.2
1   -3.5
2    NaN
3    0.0
dtype: float64

In [7]:
float_data.isna()

0    False
1    False
2     True
3    False
dtype: bool

In [8]:
string_data = pd.Series(["aardvark", np.nan, None, "avocado"])

In [9]:
string_data

0    aardvark
1         NaN
2        None
3     avocado
dtype: object

In [10]:
string_data.isna()

0    False
1     True
2     True
3    False
dtype: bool

In [11]:
float_data = pd.Series([1, 2, None], dtype='float64')

In [12]:
float_data

0    1.0
1    2.0
2    NaN
dtype: float64

In [13]:
float_data.isna()

0    False
1    False
2     True
dtype: bool

In [14]:
data = pd.Series([1, np.nan, 3.5, np.nan, 7])

In [15]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [16]:
data[data.notna()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [17]:
data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],
   ....:                      [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])

In [18]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [19]:
data.dropna()

     0    1    2
0  1.0  6.5  3.0

In [20]:
data.dropna(how="all")

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [21]:
 data[4] = np.nan

In [22]:
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [23]:
data.dropna(axis="columns", how="all")

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [24]:
df = pd.DataFrame(np.random.standard_normal((7, 3)))

In [25]:
df.iloc[:4, 1] = np.nan

In [26]:
df.iloc[:2, 2] = np.nan

In [27]:
df

          0         1         2
0 -0.912653       NaN       NaN
1  1.760794       NaN       NaN
2  0.825719       NaN  1.319391
3 -0.411429       NaN  0.226936
4  0.297192 -1.426229 -0.044607
5 -0.664490  0.121837  1.190728
6 -0.509517  0.037788  0.314817

In [28]:
df.dropna()

          0         1         2
4  0.297192 -1.426229 -0.044607
5 -0.664490  0.121837  1.190728
6 -0.509517  0.037788  0.314817

In [29]:
df.dropna(thresh=2)

          0         1         2
2  0.825719       NaN  1.319391
3 -0.411429       NaN  0.226936
4  0.297192 -1.426229 -0.044607
5 -0.664490  0.121837  1.190728
6 -0.509517  0.037788  0.314817

In [30]:
df.fillna(0)

          0         1         2
0 -0.912653  0.000000  0.000000
1  1.760794  0.000000  0.000000
2  0.825719  0.000000  1.319391
3 -0.411429  0.000000  0.226936
4  0.297192 -1.426229 -0.044607
5 -0.664490  0.121837  1.190728
6 -0.509517  0.037788  0.314817

In [31]:
df.fillna({1: 0.5, 2: 0})

          0         1         2
0 -0.912653  0.500000  0.000000
1  1.760794  0.500000  0.000000
2  0.825719  0.500000  1.319391
3 -0.411429  0.500000  0.226936
4  0.297192 -1.426229 -0.044607
5 -0.664490  0.121837  1.190728
6 -0.509517  0.037788  0.314817

In [32]:
df = pd.DataFrame(np.random.standard_normal((6, 3)))

In [33]:
df.iloc[2:, 1] = np.nan

In [34]:
df.iloc[4:, 2] = np.nan

In [ ]:
df

In [ ]:
df.fillna(method="ffill")

In [ ]:
df.fillna(method="ffill", limit=2)

In [ ]:
data = pd.Series([1., np.nan, 3.5, np.nan, 7])

In [ ]:
data.fillna(data.mean())

In [ ]:
7.2 Data Transformation

In [ ]:
data = pd.DataFrame({"k1": ["one", "two"] * 3 + ["two"],
   ....:                      "k2": [1, 1, 2, 3, 3, 4, 4]})

In [ ]:
data

In [ ]:
data.duplicated()

In [ ]:
data.drop_duplicates()

In [ ]:
data["v1"] = range(7)

In [ ]:
data.drop_duplicates(subset=["k1"])

In [ ]:
data.drop_duplicates(["k1", "k2"], keep="last")

In [ ]:
data = pd.DataFrame({"food": ["bacon", "pulled pork", "bacon",
   ....:                               "pastrami", "corned beef", "bacon",
   ....:                               "pastrami", "honey ham", "nova lox"],
   ....:                      "ounces": [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [ ]:
data

In [ ]:
meat_to_animal = {
  "bacon": "pig",
  "pulled pork": "pig",
  "pastrami": "cow",
  "corned beef": "cow",
  "honey ham": "pig",
  "nova lox": "salmon"
}

In [ ]:
data["animal"] = data["food"].map(meat_to_animal)

In [ ]:
data

In [ ]:
def get_animal(x):
   ....:     return meat_to_animal[x]

In [ ]:
data["food"].map(get_animal)

In [ ]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])

In [ ]:
data

In [ ]:
data.replace(-999, np.nan)

In [ ]:
data.replace([-999, -1000], np.nan)

In [ ]:
data.replace([-999, -1000], [np.nan, 0])

In [ ]:
data.replace({-999: np.nan, -1000: 0})

In [ ]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
   ....:                     index=["Ohio", "Colorado", "New York"],
   ....:                     columns=["one", "two", "three", "four"])

In [ ]:
def transform(x):
   ....:     return x[:4].upper()

In [ ]:
data.index.map(transform)

In [ ]:
data.index = data.index.map(transform)

In [ ]:
data

In [ ]:
data.rename(index=str.title, columns=str.upper)

In [ ]:
data.rename(index={"OHIO": "INDIANA"},
   ....:             columns={"three": "peekaboo"})

In [ ]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [ ]:
bins = [18, 25, 35, 60, 100]

In [ ]:
age_categories = pd.cut(ages, bins)

In [ ]:
age_categories

In [ ]:
age_categories.codes
age_categories.categories
age_categories.categories[0]
pd.value_counts(age_categories)

In [ ]:
pd.cut(ages, bins, right=False)

In [ ]:
group_names = ["Youth", "YoungAdult", "MiddleAged", "Senior"]
pd.cut(ages, bins, labels=group_names)

In [ ]:
data = np.random.uniform(size=20)
pd.cut(data, 4, precision=2)

In [ ]:
data = np.random.standard_normal(1000)
quartiles = pd.qcut(data, 4, precision=2)
quartiles
pd.value_counts(quartiles

In [ ]:
pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.]).value_counts()

In [ ]:
data = pd.DataFrame(np.random.standard_normal((1000, 4)))
data.describe()

In [ ]:
col = data[2]
col[col.abs() > 3]

In [ ]:
data[(data.abs() > 3).any(axis="columns")]

In [ ]:
data[data.abs() > 3] = np.sign(data) * 3
data.describe()

In [ ]:
np.sign(data).head()

In [ ]:
df = pd.DataFrame(np.arange(5 * 7).reshape((5, 7)))
df
sampler = np.random.permutation(5)
sampler

In [ ]:
df.take(sampler)
df.iloc[sampler]

In [ ]:
column_sampler = np.random.permutation(7)
column_sampler
df.take(column_sampler, axis="columns")

In [ ]:
df.sample(n=3)

In [ ]:
choices = pd.Series([5, 7, -1, 6, 4])
choices.sample(n=10, replace=True)

In [ ]:
df = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "b"],
                   "data1": range(6)})
df
pd.get_dummies(df["key"], dtype=float)

In [ ]:
dummies = pd.get_dummies(df["key"], prefix="key", dtype=float)
df_with_dummy = df[["data1"]].join(dummies)
df_with_dummy

In [ ]:
mnames = ["movie_id", "title", "genres"]
movies = pd.read_table("datasets/movielens/movies.dat", sep="::",
                       header=None, names=mnames, engine="python")
movies[:10]

In [ ]:
dummies = movies["genres"].str.get_dummies("|")
dummies.iloc[:10, :6]

In [ ]:
movies_windic = movies.join(dummies.add_prefix("Genre_"))
movies_windic.iloc[0]

In [ ]:
np.random.seed(12345) # to make the example repeatable
values = np.random.uniform(size=10)
values
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
pd.get_dummies(pd.cut(values, bins))